<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<br><br>

<% if @book.chapters.any? %>
  <h3><%= @book.title %> Chapters</h3>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @book.chapters.each do |chapter| %>
        <tr>
          <td><%= chapter.title %></td>
          <td><%= link_to 'Show', chapter %></td>
          <td><%= link_to 'Edit', edit_book_chapter_path(chapter.book, chapter) %></td>
          <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br><br>

<%= link_to 'New Chapter', new_book_chapter_path(@book.id) %>
