<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<p>
  <strong>Book:</strong>
  <%= @chapter.book.title %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>

<br><br>

<% if @chapter.topics.any? %>
  <h3><%= @chapter.title %> Topics</h3>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @chapter.topics.each do |topic| %>
        <tr>
          <td><%= topic.title %></td>
          <td><%= link_to 'Show', topic %></td>
          <td><%= link_to 'Edit', edit_chapter_topic_path(topic.chapter, topic) %></td>
          <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br><br>

<%= link_to 'New Topic', new_chapter_topic_path(@chapter.id) %>
